html {
  color: white;
  background-color: black;
  font-size: 16px;
}
body {
    margin: 60px auto;
    width: 70%;
}
h1 {
  color: #00a599
}
nav ul {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}